* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body,
#root {
    height: 100%;
}

body {
    background: linear-gradient(270deg, #020617, #0f172a, #1d4ed8, #06b6d4, #22c55e);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
    color: white;
    overflow-x: hidden;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}